body{
background-image:url(05.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
width: 100%;
min-width: 1000px;
height: auto;
position:relative;
top: 15;
right:50;
}
div{
    background-image:url(06.jpg);
    background-repeat: no-repeat;
    position:relative;
    top: 75;
    left: 450;
    width: 400px;
    padding: 20px 10px;
    border: 4px solid red;
    background: transparent;
    box-sizing:content-box;   
    border-top-right-radius: 150px;
    border-bottom-left-radius: 15px;
    
}
div:hover{
    transform: scale(1.1);
	transition: 0.3s;
    background-image: url(06.jpg);
}
td{
    font-size: 35px;
    font-style:italic;
    text-size-adjust: bold;
}
h2{
    
    color:black;
    text-align: center;
    
}
a{
    color: black;
    font-size: 20px;
}
td:hover{
    transform: scale(1.2);
	transition: .2s;
    background-image: url();


}

.sub{
    
    background-color: rgb(42, 130, 165);
    font-family: cursive;
    color: whitesmoke;
    height: 40px;
    width: 150px;
    font-size: 25px;
    border-color: brown;
    border-radius: 50px;
    border-width: 2px;

}    
.sub:hover{
    background: gray;
    border: 2px solid turquoise;
    border-radius: 20px;
    transform: scale(1.3);
	transition: .2s;


}

